/* 
    SPDX-FileCopyrightText: AdGuard Software Limited
    SPDX-License-Identifier: GPL-3.0-or-later
*/

.StoriesConfig {
    &_statistics {
        color: var(--text-footer-footer-text-default);
        padding: var(--m-s);

        &_list {
            color: inherit;

            > li {
                padding-left: 8px;
                color: inherit;
            }
        }
    }
}
